@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#232427;
    font-family: 'Noto Sans TC', sans-serif;
}
.card{
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 400px;
    margin: 0 auto;
}
.card .content{
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
}
.card .content a{
    display: inline-block;
    marker: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
}
.card .slidertext{
    position: relative;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
}
.card .slidertext h3{
    color: #fff;
    font-size: 3em;
}
.swiper-slide{
    width: 300px;
}
